/* general rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* wrapper */
#wrapper::after {
    content: "";
    display: table;
    clear: both;
}

#wrapper {
    height: calc(100vh - 100px);
}

#list {
    height: calc(100vh - 100px);
    width: 15%;
    float: left;
    /* debug */
    background-color: rgb(255, 59, 59);
}

#corp {
    width: 85%;
    float: left;
    overflow-y: auto;
    /* debug */
    height: calc(100vh - 100px);
    background-color: lightblue;
}

/* player */
#player {
    background-color: rgb(119, 118, 118);
    height: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

/* left */
#left_pl {
    display: flex;
    flex-direction: row;
}

#left_pl>img {
    width: 60px;
    height: 60px;
    margin: 20px 10px;
}

#left_pl>span {
    margin: 30px 0;
}

#icons,
#right_pl>i {
    margin: 40px 0 0 10px;
}

/* center */
#center_pl::after {
    content: "";
    display: table;
    clear: both;
}

#center_pl>span,
#center_pl>div {
    float: left;
    margin-top: 70px;
}

#icon {
    text-align: center;
}

#icon i {
    font-size: 30px;
    margin: 15px 20px 20px 0;
}

#music {
    display: flex;
    flex-direction: row;
}

.song {
    margin: 5px;
    height: 5px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
}

/* right */
#right_pl {
    display: flex;
    flex-direction: row;
}

.rgt {
    margin-top: 45px;
    width: 100px;
}

@media screen and (max-width: 880px) {
    
    #icon i {
        font-size: 25px;
    }

    .song {
        width: 200px;
    }
}

@media screen and (max-width: 640px) {
    
    #icons {
        display: flex;
        flex-direction: column;
    }

    .song {
        width: 180px;
    }

    .rgt {
        width: 50px;
    }

    #icon i {
        font-size: 20px;
    }
}

@media screen and (max-width: 550px) {
    
    .song {
        width: 140px;
    }

    .rgt {
        width: 40px;
        margin-right: 0;
    }

    #right_pl>i {
        font-size: 12px;
    }

    #icon i {
        font-size: 15px;
    }
}